@model ComicBookInventory.Models.ViewModels.ComicImageViewModel

@{
    ViewData["Title"] = "Create";
}
@*center title and two images*@
    <center>
        <h1>ADD A COMIC TO YOUR INVENTORY</h1>
        <img src="~/Images/SabertoothGif.gif" />
        <img src="~/Images/psylockeGif.gif" />
    </center>
<hr />
@*columns to display comic form*@
<div class="card-columns">
    <div class="col-lg-10">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="comic.Title" class="control-label"></label>
                <input asp-for="comic.Title" class="form-control" />
                <span asp-validation-for="comic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.IssueNumber" class="control-label"></label>
                <input asp-for="comic.IssueNumber" class="form-control" />
                <span asp-validation-for="comic.IssueNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Publisher" class="control-label"></label>
                <input asp-for="comic.Publisher" class="form-control" />
                <span asp-validation-for="comic.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Year" class="control-label"></label>
                <input asp-for="comic.Year" class="form-control" />
                <span asp-validation-for="comic.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.VolumeNumber" class="control-label"></label>
                <input asp-for="comic.VolumeNumber" class="form-control" />
                <span asp-validation-for="comic.VolumeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Price" class="control-label"></label>
                <input asp-for="comic.Price" class="form-control" />
                <span asp-validation-for="comic.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Notes" class="control-label"></label>
                <input asp-for="comic.Notes" class="form-control" />
                <span asp-validation-for="comic.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*submit*@ 
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    @*link back to index*@
    <a asp-action="Index">BACK TO LIST</a>
</div>
   
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
