@model ComicBookInventory.Models.ViewModels.EditComicImageViewModel

@{
    ViewData["Title"] = "Edit";
}
    <center>
        <h1>EDIT @Model.comic.Title #@Model.comic.IssueNumber</h1>
        <img src="~/Images/rogueGif.gif" />
    </center>
<hr />
<div class="card-columns">
    <div class="col-lg-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="comic.Id"/>

            <div class="form-group">
                <label asp-for="comic.Title" class="control-label"></label>
                <input asp-for="comic.Title" class="form-control" />
                <span asp-validation-for="comic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.IssueNumber" class="control-label"></label>
                <input asp-for="comic.IssueNumber" class="form-control" />
                <span asp-validation-for="comic.IssueNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Publisher" class="control-label"></label>
                <input asp-for="comic.Publisher" class="form-control" />
                <span asp-validation-for="comic.Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Year" class="control-label"></label>
                <input asp-for="comic.Year" class="form-control" />
                <span asp-validation-for="comic.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.VolumeNumber" class="control-label"></label>
                <input asp-for="comic.VolumeNumber" class="form-control" />
                <span asp-validation-for="comic.VolumeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Price" class="control-label"></label>
                <input asp-for="comic.Price" class="form-control" />
                <span asp-validation-for="comic.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comic.Notes" class="control-label"></label>
                <input asp-for="comic.Notes" class="form-control" />
                <span asp-validation-for="comic.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ImageFile" class="control-label"></label>
                <input asp-for="@Model.ImageFile" class="file" />
                <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
