@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">My Comic Book Inventory!!!!!</h1>
    <br />
    <body id="homebackground">
        <p>Welcome to the comic book inventory.</p>  
        <p>Login or Register to Create and save your database of comics</p>
        <img src="~/Images/juggernaughtGif.gif" />
        <img src="~/Images/stormGif.gif" />
    </body>

</div>
