@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
   @*main title of home page centered*@
            <h1 class="display-4">My Comic Book Inventory!!!</h1>
     
        <br />
   @*watchment wallpaper added to home page*@

        <body id="homebackground">
            <h5>WELCOME TO YOUR COMIC BOOK INVENTORY</h5>
            <h5>Login or Register to create your inventory of comics</h5>

            @*centered images for homepage*@
            <img src="~/Images/juggernaughtGif.gif" />
            <img src="~/Images/stormGif.gif" />


            @*line breaks to push audio control farther down the page*@
            <br /><br />
            <br /><br />

            @*centered audio controller just push play*@
            <audio controls>
                <source src="../Images/xmenmusic.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

        </body>

    </div>
