@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">My Comic Book Inventory!!!!!</h1>

        <body id="homebackground">
        </body>

    </div>
