@{
    ViewData["Title"] = "Home Page";
}
    <div class="text-center">
        <h1 class="display-4">My Comic Book Inventory!!!</h1>
        <br />
   
        <body id="homebackground">
            <h5>WELCOME TO YOUR COMIC BOOK INVENTORY</h5>
            <h5>Login or Register to create your inventory of comics</h5>
            <img src="~/Images/juggernaughtGif.gif" />
            <img src="~/Images/stormGif.gif" />
            <br /><br />
            <br /><br />
            <audio controls>
                <source src="../Images/xmenmusic.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

        </body>

    </div>
